@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --grey: #6b7280;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --light: #eee;
}

*{
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans serif;
}

body{
  padding: 3rem;
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
  color: #fff;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 800px;
  width: 100%;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--grey);
  margin-bottom: 2rem;
}

button,
input {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

form div#Enter_task{
  display: flex;
  width: 100%;
}

input#new_task {
  width: 85%;
  padding: 0.85rem;
  border-radius: 1rem;
  font-size: 1.25rem;
  margin-right: 1rem;
  color: var(--light);
  background-color: var(--darker);
  overflow: scroll;
}

input#new_task::placeholder {
  color: var(--grey);
}

input#submit {
  color: var(--pink);
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s;
}

input#submit:hover {
  opacity: 0.8;
}

input#submit:active {
  opacity: 0.6;
}

main{
  padding-top: 2rem;
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;

}

.button_holder {
  display: flex;
}

main{
  min-width: 400px;
  max-width: 800px;
  width: 100%;
}

section{
  width: 100%;
}

.task_list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


section div.content {
  width: 90%;
}

label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content ;
}

label div.outer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
  background: var(--dark);
  border-radius: 50%;
  transition: 0.3s ease-in-out 0s;
}

label div.outer:hover {
  border: 3px solid var(--grey);
}

.checked {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  background: var(--light);
  transition: 0.4s ease-in-out;
}

div.assigned{
  width: 89%;
  position: relative;
}

div input.task_required {
  color: var(--light);
  font-size: 1.2rem;
  height: fit-content;
  overflow: scroll;
  width: 100%;
  padding-left: 3%;
}

div input.task_required:not(:read-only) {
  color: var(--pink);
}

.strikeout{
  position: absolute;
  height: 0.1rem;
  width: 100%;
  top: 50%;
  left: 15px;
  background-color: var(--grey);
  animation: strike 0.5s linear forwards;
}

@keyframes strike {
  from{
    width: 0%;
  }
  to{
    width: 100%;
  }
}

section h2 {
  font-size: 1.75rem;
  color: var(--grey);
  margin-bottom: 1.8rem;
}

div.task_list {
  padding: 0.75rem;
  background-color: var(--darkest);
  margin-bottom: 1.25rem;
  border-radius: 1rem;
  transition: 0.4s;
}

button {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  transition: 0.4s;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.6;
}

button.edit {
  height: fit-content;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button.delete {
  height: fit-content;
  color: crimson;
}

.dragging:where(div.content, div.button_holder){
  opacity: 0;
}

section div.sortableList{
  height: 400px;
}